<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DPSG Stamm Phoenix</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bundle.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bundle.min.css" />
    </environment>
</head>
<body>

<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>

<environment include="Development">
    <script src="~/js/bundle.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/bundle.min.js"></script>
</environment>
</body>
</html>
